<nav class="navbar navbar-expand-sm  navbar-light " style=" background-color: #ed1c2323;">
  <img src="http://localhost:3000/img/logo.png" alt="logo" width="50" height="50" >
<i class="fa fa-bars" aria-hidden="true"></i>
<!-- Links -->
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="sz-20 nav-link" href="/login/web">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Loại SP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/nsx">Nhà Sản Xuất</a>
    </li>
     
  
    
   

  </ul>

  
