<div class="d-flex  flex-column flex-shrink-0 sticky-top text-dark mt-3 " style="width: 260px; height: 100vh; background-color: #ed1c2323;">
    <a href="/" class="d-flex align-items-center mb-3 mt-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      
        <a href="/doanhthu" class="nav-link text-dark">
          <svg class="bi me-2" width="13" height="13"><use xlink:href="#speedometer2"></use></svg>
          Doanh thu 
        </a>
      </li>
      <li>
        <a href="/oder" class="nav-link text-dark">
          <svg class="bi me-2" width="13" height="13"><use xlink:href="#table"></use></svg>
         Đơn Hàng
        </a>
      </li>
    
      <li>
        <a href="/customer" class="nav-link text-dark">
          <svg class="bi me-2" width="13" height="13"><use xlink:href="#people-circle"></use></svg>
          Customers
        </a>
      </li>
    </ul>
    <button type="submit"  style="width: 300dp; background-color: #FFA500; border: 10;" class="btn w-100 ">Đăng Xuất</button>

    <hr>
  
  </div>