<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="/product">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page"> New Product</li>
    </ol>
</nav>
<form class="m-3 " method="POST" action="/product/addproduct">

  {{>product-form}}

</form>
