

 <div class="col-sm-12 mt-5">
     <h1 align="center" >Đăng Nhập</h1>
 <p align="center" >Chào mừng bạn đến với Dreamy</p>
 </div>
<form action="/login/web" method="post">
    
    <div class="row" style="height: 100vh;">
    <div class="col-sm-2 " style="height: 100vh;">
    </div>
    <div class="col-sm-8">
   <div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr" name="username">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd" name="password">
</div>
<button type="submit"  style="width: 300dp; background-color: #FFA500;" class="btn w-100">Đăng Nhập</button>
    </div>
    <div class="col-sm-2">
</form>
     
  